[submodule "fcs"]
	path = fcs
	url = https://github.com/lerwys/fcs.git
[submodule "fcs-client"]
	path = fcs-client
	url = https://github.com/lerwys/fcs-client.git
[submodule "libbsmp"]
	path = libbsmp
	url = https://github.com/brunoseivam/libbsmp.git
[submodule "bpm-bitstreams"]
	path = bpm-bitstreams
	url = https://github.com/lerwys/bpm-bitstreams.git
